/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: #134e1e;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .intro {
    padding: 50px 0;
    text-align: center;
  }
  
  .gallery {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery img {
    max-height: 300px; /* Adjust the maximum height as needed */
    width: auto;
    margin-right: 20px;
  }
  .blog {
    padding: 50px 0;
  }
  
  .blog-post {
    max-width: 600px;
    margin: 0 auto 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(19, 78, 30, 0.1);
    box-shadow: 0 0 10px rgba(19, 78, 30, 1);
    text-align: center;
  }
  
  .blog-post h2 {
    font-weight: bold;
  }
  
  .blog-post img {
    display: block;
    margin: 20px auto 0;
    max-width: 100%;
  }
  .blog-post p.date {
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  .center-content {
    text-align: center;
    margin: 15px;
  }